---
http_interactions:
- request:
    method: post
    uri: https://api.stability.ai/v1/generation/esrgan-v1-x2plus/text-to-image
    body:
      encoding: UTF-8
      string: '{"text_prompts":[{"text":"A sunlit indoor lounge area with a pool containing
        a flamingo"}],"cfg_scale":7,"clip_guidance_preset":"FAST_BLUE","height":512,"width":512,"samples":1,"steps":30,"style_preset":"origami"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <STABILITYAI_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artifacts":[]}'
  recorded_at: Sun, 30 Apr 2023 10:16:12 GMT
recorded_with: VCR 6.1.0
